* {
    box-sizing: border-box;
}

nav ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px;
    justify-content: left;
    justify-items: left;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

nav ul li {
    background-color: #000;
    width: 90%;
    text-align: center;
    line-height: 50px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: red;
}

.wrapper {
    display: grid;
    grid-template-rows: 150px repeat(3,auto);
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
}

.wrapper>* {
    border: 1px solid black;
}

.wrapper>header {
    text-align: center;
    background-color: #111;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
}

.wrapper>header>div:first-child{
    font-size: 3em;
    padding-top: 20px;
    color:red;

}

.wrapper>header>div:last-child{
    font-size: 1,5em;
    color:#bbb;
    font-style: italic;
}

.wrapper>nav {
    background-color: #ddd;
    grid-column-start: 1;
    grid-column-end: 3;
}

.wrapper>article {
    padding:10px;
    background-color: #ccc;
    font-size: 1.2em;
}

.wrapper>article img{
    float:right;
    border:5px solid white;
    margin: 5px;
}

.wrapper>article img:after{
    content:'';
    display: table;
    clear:both;

}

.wrapper>aside {
    background-color: #000;
    color: white;
}

.wrapper>aside>div{
    margin:10px 0;
    border-bottom:red 2px solid ;
    padding: 5px 0;

}

.wrapper>aside>div::first-letter{
    color: red;
    font-size:1.4em ;
}

.wrapper>footer {
    display:grid;
    grid-template-columns: 3fr 1fr;
    background-color: #000;
    color:white;
    grid-column-start: 1;
    grid-column-end: 3;
}
.wrapper>footer>div{
    padding:10px;
    text-align:center;


}

.wrapper>footer>div:last-child{
    background-color: #333;
}

@media only screen and (max-width:640px){
.wrapper {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

        .wrapper>article img {
            float: none;
            display: block;
            width: 100%;
            border: 0px;
            margin: 0px;
        }

                .wrapper>aside {
                    background-color: #000;
                    color: white;
                }
                 .wrapper>aside, .wrapper>article{
                    font-size: 0.9em;
                    grid-column: 1/3;
                 }

                 .wrapper>footer {
                     display: grid;
                     grid-template-columns:  1fr;
}
}